* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containsTwoDiv {
    display: flex;
    height: 100vh;
    width: 100%;

}

.imgDiv {
    height: 500px;
    width: 450px;
    display: flex;
    border: 1px solid grey;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin: 20px 10px 0px 20px;
}

.imgTwo {
    height: 400px;
    width: 400px;
}

.imgDiv button {
    height: 50px;
    width: 90%;
    background-color: rgb(244, 51, 151);
    border: 0;
    color: azure;
    margin: 10px 0px 0px 20px;
}

.allbtn {
    /* display: flex; */
    height: 400px;
    width: 50%;
    border-radius: 15px;
    border: 1px solid black;
    margin: 23px 10px 0px 20px;
}

.allbtn h4 {
    margin: 10px 0px 0px 20px;
}

.allbtn h5 {
    margin: 10px 0px 0px 20px;
}

.allbtn .buyNOw {
    height: 35px;
    width: 70px;
    background-color: rgb(38, 193, 38);

    border: 0;
    border-radius: 5px;
    margin: 5px 20px 0px 20px;
}

.allbtn .buyNOw a {
    text-decoration: none;
    color: white;
}

.deleteIems {
    height: 35px;
    width: 12%;
    background-color: rgb(18, 188, 18);
    color: azure;
    border: 0;
    border-radius: 5px;
}

.ratingBtn {
    height: 25px;
    width: 6%;
    background-color: rgb(18, 188, 18);
    color: azure;
    border: 0;
    border-radius: 5px;
    margin: 10px 20px 10px 20px;

}

.itemDesc {
    margin: 10px 20px 10px 20px;

}

.itemDesc span {
    font-weight: 600;
}