* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    border: 1px solid grey;
}
.navbar h1{
    font-size: 40px;
    color: rgb(244, 51, 151);
    margin: 15px 0px 0px 110px;
}
.navbar input{
    height: 47px;
    width: 30%;
    margin: 16px 0px 0px 16px;
}
.navbar a {
    color: black;
    margin: 28px 10px 0px 28px;
    text-decoration: none;
}

.formDiv {
    height: 420px;
    border-radius: 8px;
    width: 30%;
    margin-top: 40px;
    margin-left: 450px;
    box-shadow: 5px solid whitesmoke;
    background-color: #fff;
    border: 1px solid grey;

}

.formDiv label {
    margin: 90px 10px 20px 20px;
    margin-top: 20px;
    color: grey;
}

.formDiv input {
    height: 35px;
    width: 90%;
    margin: 5px 10px 20px 20px;

}

.formDiv button {
    height: 47px;
    width: 90%;
    background-color: rgb(244, 51, 151);
    border: 0;
    border-radius: 25px;
    color: aliceblue;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 20px;
}

.contains {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgb(253, 233, 242);
}

.formDiv .inputs {
    margin: 0px 0px 0px 110px;
    text-decoration: none;
}

.select {
    margin: 10px 0px 15px 0px;
}
@media only screen and (max-width: 600px) {
    .formDiv{
    margin: 40px 30px 0px 30px;
    width: 90%;
    }
    .navbar{
        width: 100%;
    }
    .navbar h1{
        font-size: 20px;
      margin: 30px 10px 10px 5px;
    }
    .navbar input{
        margin: 15px 5px 0px 5px;
    }
    .navbar a{
        font-size: 12px;
        margin: 30px 5px 0px 10px;
    }
    .contains h4{
       margin-left: 50px;
    }

}
